%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Номер посылки
      %th Статус
      %th Дата обновления
      %th Действия
  %tbody
    - if trackings.any?
      = partial :tracking, collection: trackings
    - else
      %tr
        %td{colspan: 4}
          %h3 No trackings found