.caption {
    font-size: 105%;
}
.progress {
    margin-top: 5px;
}
.box {
    display: block;
    width: 350px;
    height: 200px;
    float: left;
    margin-right: 15px;
    position: relative;
    margin-bottom: 10px;
}
.box .caption {
    font-size: 15px;
    margin-left: 20px;
    margin-top: 15px;
}
.box_overlay {
    margin-top: 35px;
    margin-left: 25px;
    width: 90%;
    height: 70%;
    overflow: visible;
    margin-bottom: 5px;
}

p.status { 
    margin-bottom: 10px;
}
.progress {
    margin-bottom: 0px;
}
.refresh {
    float: right;
    cursor: pointer;
}
.remove {
    float: right;
    cursor: pointer;
}